<form class="form-inline">
  <div class="form-group md-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar">
    <button class="btn btn-outline-success">buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data evento</th>
      <th>QTD pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>